@keyframes title-popup {
  from {
    transform: scale(.7);
    opacity: 0;
  }

  to {
    transform: scale(1);
    opacity: 1;
  }

}

@keyframes up-and-down {
  from {
    transform: translateY(0);
  }

  50% {
    transform: translateY(20px);
  }

  to {
    transform: translateY(0);
  }

}


.root {
  font-family: Lato, Arial, sans-serif;
  font-weight: 400;
  background-color: #fff;
}

.header {
  box-sizing: border-box;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  width: 100%;
  height: 100px;
  background-color: rgb(51, 51, 51, .5);
  color: #fff;
  z-index: 1;
}

.logo_place_header {
  width: 120px;
  object-fit: contain;
}

.header__navbar {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
  color: #fff;
}

.header__navlink {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: 20px;
  font-weight: 700;
  margin-right: 60px;
}

.header__navlink:last-child {
  margin-right: 0;
}

.header__social {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.header__number {
  margin: 0;
  margin-right: 20px;
}

.social-icon_place_header {
  margin-right: 20px;
}

.social-icon_place_header:last-of-type {
  margin-right: 0;
}

.social-icon {
  width: 30px;
  height: 30px;
}



.lead {
  background-image: url(images/lead-background.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  background-attachment: fixed;

}

.lead__overlay {
  background-color: rgba(51, 51, 51, .5);
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}


.lead__title {
  visibility: hidden;
  margin: 100px 0 40px;
  font-size: 68px;
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: 1px;
}


.lead__subtitle {
  visibility: hidden;
  margin: 0;
  margin-bottom: 75px;
  font-size: 24px;
  line-height: 1.5;
  font-weight: 300;
}

.lead__button {
  visibility: hidden;
  width: 190px;
  height: 60px;
  padding: 0;
  margin-bottom: 70px;
  border: none;
  border-radius: 40px;
  background-color: transparent;
  background-color: #b81a1a;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
}

.lead__arrow-cover {
  visibility: hidden;
}


.lead__arrow {
  width: 40px;
  height: 20px;
  animation: up-and-down 2s infinite ease-in-out;
}

.animated {
  visibility: visible;
  animation-name: title-popup;
  animation-duration: 1s;
  animation-timing-function: cubic-bezier(.19, 1, .22, 1);
}

/* About */

.about {
  padding: 150px 0 135px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about__title {
  margin: 0;
  margin-bottom: 40px;
  font-size: 42px;
  font-weight: 600;
  line-height: 1.19;

}

.about__paragraph {
  margin: 0;
  max-width: 760px;
  font-size: 26px;
  font-weight: 300;
  line-height: 1.5;
  text-align: center;
}

/* Каруселька картинок */

.image-carousel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image-carousel__image-wrapper {
  position: relative;
}

.image-carousel__image {
  max-width: 60vw;
  transition: opacity 1s;
}

.image-carousel__cover-image {
  max-width: 60vw;
  position: absolute;
  transition: opacity 1s;
}

.image-carousel__arrow {
  cursor: pointer;
  width: 20px;
  height: 40px;
  position: absolute;
  top: 50%;

}

.image-carousel__arrow_type_left {
  left: -80px;

}

.image-carousel__arrow_type_right {
  right: -80px;

}

.image-carousel__bullet-wrapper {
  margin-bottom: 150px;
  padding: 0;
  padding-top: 16px;
  list-style: none;
  display: flex;
}


.image-carousel__bullet {
  cursor: pointer;
  width: 8px;
  height: 8px;
  padding: 0;
  margin-right: 10px;
  background-color: rgb(167, 167, 167);
  border: none;
  border-radius: 50%;
}

.image-carousel__bullet_active {
  background-color: rgb(100, 100, 100);

}

.transparent {
  opacity: 0;
}


